.admin-main {
  min-height: calc(100vh - #{$footer-height});
  
  @include media-breakpoint-up(md) {
    width: calc(100% - #{$side-nav-width});
    margin-left: $side-nav-width;

  }
}
// .admin-main {
//   position: relative;
//   display: flex;
//   justify-content: flex-end;
//   align-items: center;
//   width: 100vw;
//   min-height: calc(100vh - #{$footer-height});
//   background-color: $first-color;
//   .modal {
//       width: calc(100vw - 215px); 
//       left: unset;
//       &--loading {
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
//         background-color: rgba(255,255,255,0.8);

//         .spinner {
//           width: 10rem;
//           height: 10rem;
//           border-radius: 50%;
//           border: 4px solid $second-color;
//           border-left: 4px solid $third-color;
//         }

//         &.show {
//           .spinner {
//             animation: spin 1s linear infinite;
//           }
//         }
//       }
//     }
//   .side-menu {
//     position: fixed;
//     left: 0;
//     top: 0;
//     bottom: 0;
//     width: 200px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     background-color: $second-color;
    
//     ul {
//       width: 100%;
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       justify-content: center;
//       li {
//         width: 100%;
//         margin-bottom: 2%;

//         .btn {
//           &--log-out {
//             width: 100%;
//             color: $first-color;
//             &:hover {
//               transform: unset;
//             }
//           }
//         }
//       }
//     }
//   }

//   .content {
//     position: relative;
//     width: calc(100vw - 200px); 
//     padding: 2%;

//     .users_table {
//       position: relative;
//       display: flex;
//       flex-direction: column;
//       border-collapse: collapse;
//       // border: 1px solid rgba($fourth-color, 0.5);

//       .thead {
//         position: sticky;
//         top: 0;
//         z-index: 10;
//         display: flex;
//         flex-direction: column;
//         margin-bottom: 1%;
//         background-color: #fff;
        
//         .bottons-container {
//           display: flex;
//           justify-content: flex-end;
//           align-items: flex-end;
//           .admin-refresh {
//             color: $second-color;
//             background-color: $first-color;
//             border: 1px solid $second-color;
//             padding: 0 1%;
//             height: 1.5rem;
//             width: 2.5rem;
//             margin: 2px 3px;
//             border-radius: 20px;
//             font-size: 0.4rem;
//             &:hover {
//               transform: unset;
//             }
//           }
//           .admin-save {
//             color: $first-color;
//             font-size: 0.6rem;
//             padding: 0 1%;
//             height: 2rem;
//             width: 5rem;
//             margin: 2px 0;
//             align-self: flex-end;
//             &:hover {
//               transform: unset;
//             }
//           }
//         }
//         .tr {
//           border: 1px solid rgba(43, 44, 40, 0.5);
//         }
//       }
      
//       .th {
//         width: 25%;
//         font-size: 0.8rem;
//         text-align: center;
//         border-right: 1px solid rgba($fourth-color, 0.5);
//         &:nth-last-child(1) {
//           border: none;
//           margin: 0;
//         }
//       }
//       .tr {
//         display: flex;
//         width: 100%;
//         /* border-bottom: 1px solid rgba(43, 44, 40, 0.5); */
//         margin-bottom: 2%;

//         &:nth-last-child(1) {
//           margin-bottom: 0;
//         }
        
//       }
//       .td {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         width: 25%;
//         padding: 1%;
//         font-size: 0.7rem;
//         box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
        

//         select {
//           border: none;
//           height: 100%;
//           font-size: 0.7rem;
//           cursor: pointer;
//           background-color: transparent;
//           &:focus {
//             outline: 1px solid rgba(0,0,0,0.5);
//           }
//         }
//       }

//       .empty_users_message {
//         text-align: center;
//         color: rgba($fourth-color, 0.5);
//       }
//     }
//   }
// }

// .footer {
//   padding-left: 210px;
//   bottom: 0;
//   background-color: $first-color;

//   .copyright-text {
//     color: $second-color;
//   }
// }



@keyframes spin {
  from {
    transform: rotate(0)
  }
  to {
    transform: rotate(360deg);
  }
}