.admin-main {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  min-height: calc(100vh - #{$footer-height});
  background-color: $first-color;

  .side-menu {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 25vh;
    width: 200px;
    background-color: $second-color;
  }

  .content {
    width: calc(100vw - 200px); 
    padding: 2%;

    .users_table {
      position: relative;
      display: flex;
      flex-direction: column;
      border-collapse: collapse;
      // border: 1px solid rgba($fourth-color, 0.5);

      .thead {
        position: sticky;
        top: 0;
        z-index: 10;
        display: flex;
        flex-direction: column;
        margin-bottom: 1%;
        background-color: #fff;
        
        .bottons-container {
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
          .admin-refresh {
            color: $second-color;
            background-color: $first-color;
            border: 1px solid $second-color;
            padding: 0 1%;
            height: 1.5rem;
            width: 2.5rem;
            margin: 2px 3px;
            border-radius: 20px;
            font-size: 0.4rem;
            &:hover {
              transform: unset;
            }
          }
          .admin-save {
            color: $first-color;
            font-size: 0.6rem;
            padding: 0 1%;
            height: 2rem;
            width: 5rem;
            margin: 2px 0;
            align-self: flex-end;
            &:hover {
              transform: unset;
            }
          }
        }
        .tr {
          border: 1px solid rgba(43, 44, 40, 0.5);
        }
      }
      
      .th {
        width: 25%;
        font-size: 0.8rem;
        text-align: center;
        border-right: 1px solid rgba($fourth-color, 0.5);
        &:nth-last-child(1) {
          border: none;
          margin: 0;
        }
      }
      .tr {
        display: flex;
        width: 100%;
        /* border-bottom: 1px solid rgba(43, 44, 40, 0.5); */
        margin-bottom: 2%;

        &:nth-last-child(1) {
          margin-bottom: 0;
        }
        
      }
      .td {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25%;
        padding: 1%;
        font-size: 0.7rem;
        box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
        

        select {
          border: none;
          height: 100%;
          font-size: 0.7rem;
          cursor: pointer;
          background-color: transparent;
          &:focus {
            outline: 1px solid rgba(0,0,0,0.5);
          }
        }
      }
    }
  }
}

.footer {
  padding-left: 210px;
  bottom: 0;
  background-color: $first-color;

  .copyright-text {
    color: $second-color;
  }
}