* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-normal;
  color: $second-color;
}

html { 
  font-size: calc(1em + 1vw); 
}

body {
  background-color: $first-color;
  overflow-x: hidden;
}

li {
  list-style: none;
}

h1 {
  font-family: $font-title;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s;
  &.show {
    visibility: visible;
    opacity: 1;
  }
}


