* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-normal;
  color: $second-color;
}

html { 
  font-size: 16px; 
}

body {
  background-color: $first-color;
  overflow-x: hidden;
}

li {
  list-style: none;
}

h1 {
  font-family: $font-title;
}

a {
  text-decoration: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s;
  &.show {
    visibility: visible;
    opacity: 1;
  }
}

.message {
  position: absolute;
  top: 2%;
  z-index: 50;
  min-width: 10rem;
  padding: 1%;
  min-height: 1.5rem;
  max-height: 75px;
  border-radius: 10px;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &.error {
    background-color: $error-color;
    color: $first-color;
    box-shadow: 0px 0px 10px rgba($error-color, 0.8);
  }
  &.success {
    background-color: $success-color;
    color: $first-color;
    box-shadow: 0px 0px 10px rgba($success-color, 0.8);
  }
}

#main {
  position: relative;
}

.side-menu {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: $folded-side-nav-width;
  transition: width 0.7s;
  overflow: hidden;
  background-color: $third-color;
  @include media-breakpoint-up(md) {
    width: $side-nav-width;
  }

  &.show {
    width: $side-nav-width;
    .toggle-nav {
      transform: rotate(180deg);
    }
    ul {
      opacity: 1;
    }
  }
  .toggle-nav {
    position: absolute;
    top: 5%;
    // right: 5%;
    font-size: 2rem;
    background-color: transparent;
    border: none;
    color: $first-color;
    transition: transform 0.7s;
    @include media-breakpoint-up(md) {
      display: none;
    }
    &:focus {
      outline: none;
    }
  }

  ul {
    opacity: 0;
    transition: opacity 0.5s;
      @include media-breakpoint-up(md) { 
        opacity: 1;
      }

      a {
        color: $first-color;
      }
  }
  
  
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6*((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}


