$first-color: #FFFAFB;
$second-color:  #131515;
$third-color: #7DE2D1;
$fourth-color: #2B2C28;
$fifth-color: #339989;

$error-color: red;
$font-title: 'Proza Libre', sans-serif;
$font-normal: 'Open Sans', sans-serif;

$footer-height: 80px;