$first-color: #eeeeee;
$second-color:  #222831;
$third-color: #393e46;
$fourth-color: #00adb5;
$fifth-color: #339989;

$error-color: red;
$success-color: green;
$font-title: 'Proza Libre', sans-serif;
$font-normal: 'Open Sans', sans-serif;

$footer-height: 80px;
$side-nav-width: 200px;
$folded-side-nav-width: 30px;