<div class="admin">
  {{#if error}}
    <div class="message error">
      {{#if unknown_error}}
        Try again! There have been an error.
      {{else}}
        Wrong user/password.
      {{/if}}
    </div>
  {{/if}}
  <form action="" class="admin-form" method="POST">
    <div class="form-pair">
      <label for="username">User</label>
      <input type="text" name="username" required>
    </div>
    <div class="form-pair">
      <label for="password">Password</label>
      <input type="text" name="password" required>
    </div>
    <button class="btn btn--admin" type="submit">Log in</button>
  </form>
</div>