<div class="home row">
  <div class="home__left-side col-12 col-sm-6 d-flex justify-content-center align-items-end align-items-sm-center">
    <h1 class="main-title">Rent <span>a car!</span></h1>
  </div>
  <div class="home__right-side col-12 col-sm-6 d-flex justify-content-center align-items-start align-items-sm-center">
    <a href="/signup" class="btn btn--sign-up mx-1">
      Sign up
    </a>
    <a href="/signin" class="btn btn--log-in mx-1">
      Log in
    </a>
  </div>
</div>