<div class="home">
  <div class="home__left-side">
    <h1 class="main-title">Rent <span>a car!</span></h1>
  </div>
  <div class="home__right-side">
    <a href="#" class="btn btn--sign-up">
      Sign up
    </a>
    <a href="#" class="btn btn--log-in">
      Log in
    </a>
  </div>
</div>