<div class="reg_container row justify-content-center align-items-center">
  <h1 class="reg_container__title col-10 text-center">
    Hello {{name}}!
  </h1>
  <div class="reg_container__message col-10 d-flex justify-content-center align-items-center text-center">
    Your request has been submitted. <br>
    Please wait until an administrator approves it.
  </div>
</div>