<div class="signin">
  <form action="" class="signin-form" method="POST">
    <div class="form-pair">
      <label for="email">Email</label>
      <input type="email" name="email" />
    </div>
    <div class="form-pair">
      <label for="password">Password</label>
      <input type="password" name="password" />
    </div>
    <button class="btn" type="submit">Sign in</button>
  </form>
</div>