<div class="signup">
  <form action="" class="signup-form" method="POST">
    <div class="form-pair">
      <label for="name">Name</label>
      <input type="text" name="name">
    </div>
    <div class="form-pair">
      <label for="license">License Number</label>
      <input type="text" name="license">
    </div>
    <div class="form-pair">
      <label for="phone">Phone Number</label>
      <input type="text" name="phone">
    </div>
  </form>
</div>