* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: #131515; }

html {
  font-size: calc(1em + 1vw); }

body {
  background-color: #FFFAFB; }

li {
  list-style: none; }

h1 {
  font-family: "Proza Libre", sans-serif; }

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 1rem;
  padding: 2%;
  background-color: #131515;
  cursor: pointer;
  border: none;
  text-decoration: none;
  transition: transform 0.3s; }
  .btn:hover {
    transform: scale(1.1); }
  .btn:focus {
    outline: none; }
  .btn--sign-up {
    color: #131515;
    background-color: #339989; }
  .btn--log-in {
    color: #FFFAFB; }

.footer {
  display: flex;
  align-items: center;
  padding: 0 2%;
  width: 100vw;
  height: 80px;
  background-color: #131515; }
  .footer .copyright-text {
    color: #FFFAFB;
    font-weight: 100; }

.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: calc(100vh - 80px); }
  .signup .signup-form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    min-width: 260px;
    max-width: 460px;
    border-radius: 2px;
    padding: 5%;
    border: 1px solid #000; }
    .signup .signup-form .form-pair {
      display: flex;
      flex-direction: column;
      margin-bottom: 30px; }
      .signup .signup-form .form-pair label {
        font-size: 0.8rem;
        margin-bottom: 5px;
        color: #131515; }
      .signup .signup-form .form-pair input {
        border: none;
        padding: 1%;
        width: 10rem;
        height: 1rem;
        font-size: 1rem;
        border-bottom: 1px solid #8d8d8d; }
        .signup .signup-form .form-pair input:focus {
          outline: none;
          border-bottom: 1px solid #7DE2D1; }
      .signup .signup-form .form-pair select {
        width: 10rem;
        height: 2rem;
        font-size: 1rem;
        padding: 1%;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #8d8d8d; }
        .signup .signup-form .form-pair select:focus {
          outline: none; }
    .signup .signup-form .fields-container {
      height: 0;
      overflow: hidden; }
      .signup .signup-form .fields-container.show {
        height: auto; }
    .signup .signup-form button[type="submit"] {
      position: absolute;
      bottom: -7%;
      font-size: 0.7rem;
      padding: 2%;
      width: 40%;
      color: #FFFAFB; }

.reg_container {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .reg_container__message {
    width: 80%;
    min-width: 300px;
    max-width: 550px;
    height: 50%;
    min-height: 300px;
    max-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 1% 3%;
    margin-top: 2%;
    text-align: center;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5); }

.home {
  display: flex;
  width: 100vw;
  height: calc(100vh - 80px); }
  .home__left-side {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%; }
    .home__left-side .main-title {
      position: relative; }
      .home__left-side .main-title::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        width: 55%;
        height: 100%;
        background-color: #339989; }
      .home__left-side .main-title span {
        color: #FFFAFB; }
  .home__right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: #131515; }
    .home__right-side .btn {
      margin: 0 1%; }

/*# sourceMappingURL=main.css.map */